VITE_FIREBASE_API_KEY=AIzaSyBBjU3R_oK7z7CsN7Zn4tSltALnok1vqac
VITE_FIREBASE_AUTH_DOMAIN=skillswap-ff50e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=skillswap-ff50e
VITE_FIREBASE_STORAGE_BUCKET=skillswap-ff50e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=242424044054
VITE_FIREBASE_APP_ID=1:242424044054:web:61deb31f477fcc16fc3337
VITE_FIREBASE_MEASUREMENT_ID=G-234Y34LY00